// header
header.header#header

	// menu
	//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
	.menu.menu--left.js-menu
		#menu-btn.menu_btn
			.menu_btn-inner
		nav.menu_nav

			.menu_inner

				// passport
				.passport
					.passport_img
						img(src="img/photo.jpg", alt="photo")
					//- .passport_name Иван<br>Еремеев
				//	/passport

				ul.menu_list
					li
						a(href="index.html").active
							span.menu_icon &#xe648
							span.menu_text Главная
					li
						a(href="about.html")
							span.menu_icon &#xe605
							span.menu_text Обо мне
					//- li
					//- 	a(href="#")
					//- 		span.menu_icon &#xe6c4
					//- 		span.menu_text Услуги
					li
						a(href="portfolio.html")
							span.menu_icon &#xe622
							span.menu_text Портфолио
					li
						a(href="contact.html")
							span.menu_icon &#xe63a
							span.menu_text Контакты

			#menu-close.menu_close
		#menu-over.menu_over
	// /menu

// /header