// header
header.header

  .wrapper

    // menu
    //- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
    .menu.menu--left.js-menu
      #menu-btn.menu_btn
        .menu_btn-inner
      nav.menu_nav

        //- // passport
        //- .passport
        //- 	.passport_img
        //- 		img(src="img/photo.jpg", alt="photo")
        //- 	//- .passport_name Иван<br>Еремеев
        //- //	/passport

        ul.menu_list
          li
            a(href="home.html").active Главная
          li
            a(href="about.html") Обо мне
          //- li
          //- 	a(href="#") Услуги
          li
            a(href="portfolio.html") Портфолио
          li
            a(href="contact.html") Контакты

        #menu-close.menu_close
      #menu-over.menu_over
    // /menu

// /header