// header
header.header#header

  .wrapper

    // menu
    //- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
    .menu.menu--left.js-menu
      #menu-btn.menu_btn
        .menu_btn-inner.menu_btn-inner--dark
      nav.menu_nav

        //- // passport
        //- .passport
        //- 	.passport_img
        //- 		img(src="img/photo.jpg", alt="photo")
        //- 	//- .passport_name Иван<br>Еремеев
        //- //	/passport

        - var menuItems = [{pageName:'Главная', pageUrl:'index.html'},{pageName:'Обо мне', pageUrl:'about.html'},{pageName:'Портфолио', pageUrl:'portfolio.html'},{pageName:'Контакты', pageUrl:'contact.html'}]
        mixin menu()
          ul.menu_list.menu_list--inner-page
            each item in menuItems
              if item.pageName == pageTitle
                li
                  a(href= item.pageUrl class="active")= item.pageName
              else
                li
                  a(href= item.pageUrl)= item.pageName
        + menu()

        #menu-close.menu_close
      #menu-over.menu_over
    // /menu

// /header