// header
header.header#header
	.wrapper

		// passport
		.passport
			.passport_img.img-responsive
				img(src="img/photo.jpg", alt="photo")
			.passport_name Иван Еремеев
		//	/passport

		// menu
		//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
		.menu.menu--right.js-menu
			#menu-btn.menu_btn
			nav.menu_nav
				ul.menu_list
					li.menu_item
						a(href="#").menu_link Меню 1
					li.menu_item
						a(href="#").menu_link Меню 2
					li.menu_item
						a(href="#").menu_link Меню 3
					li.menu_item
						a(href="#").menu_link Меню 4
					li.menu_item
						a(href="#").menu_link Меню 5
					li.menu_item
						a(href="#").menu_link Меню 6
					li.menu_item
						a(href="#").menu_link Меню 7
					li.menu_item
						a(href="#").menu_link Меню 8
				#menu-close.menu_close
			#menu-over.menu_over
		// /menu

// /header