extends blocks/base.jade

block title 
	title Главная

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade

		.content

			.wrapper
				// head
				.head
					h1.head_title Обо мне
					.head_subtitle Я Иван Еремеев
				//	/head

			// about
			.about
				.wrapper
					.about_image
						.about_img.img-responsive
							img(src="photo-full.jpg", alt="photo")
					.about_content
						.about_desc
							ul.about_list
								li
									span Full Name : 
									| Jonathon Doe
								li
									span Date of Birthday : 
									| 21 January 1985
								li
									span Address : 
									| Jatrabari, Dhaka, Bangladesh
								li
									span Job : 
									| Frelancer
							ul.about_list
								li
									span Phone : 
									| +4573-8365-9374
								li
									span Skype : 
									| johndoe_647
								li
									span Email : 
									| johndoe@domain.com
								li
									span Website : 
									| www.johndoe.com
			//	/about

		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")