extends blocks/base.jade

block title 
	title Обо мне

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	link(rel="stylesheet", href="css/libs/aos.css")
//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header_v2--inner.jade

		.content

			// header-placeholder
			.header-placeholder
			//	/header-placeholder

			.wrapper
				// head
				.head
					h1.head_title Обо мне
					.head_subtitle Иван Еремеев
				//	/head

				// about
				.about(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")
					.about_img
						img(src="img/photo-full.jpg", alt="photo")
					.about_lists
						ul.about_list
							li
								span Адрес : 
								| Россия, Пермь
							li
								span Должность : 
								| Верстальщик
							li
								span Профиль на fl.ru : 
								a(href="https://www.fl.ru/users/ivan_eremeev/portfolio/" target="_blank") ivan_eremeev
						ul.about_list
							li
								span Skype : 
								a(href="https://join.skype.com/invite/bcaYnpFGIENN" target="_blank") ivan.eremeev_1
							li
								span Telegram : 
								a(href="https://t.me/IvanMessage" target="_blank") IvanMessage
							li
								span Email : 
								a(href="mailto:ivan.frontcoder@gmail.com" target="_blank") ivan.frontcoder@gmail.com

					.about_descr
						p Здравствуйте, меня зовут Иван Еремеев. Я занимаюсь версткой сайтов. Работаю на фриланс бирже 
							a(href="https://www.fl.ru/users/ivan_eremeev/portfolio/" target="blank") fl.ru 
							| с 2018 года. Ответственный и пунктуальный. Проверяю свою верстку на валидацию по стандартам w3c. Оптимизирую на скорость загрузки выше 80-ти по google page speed. Всегда довожу работу до конца. Не пропадаю и не теряюсь. 
				//	/about

			// skills
			.skills
				.wrapper
					// head
					.head(data-aos="fade-up" data-aos-duration="1000")
						h2.head_title Мои навыки
						.head_subtitle Профессиональные знания

					.skills_row
						.skills_col
							ul.skills_list
								li.skills_item
									span.skills_text HTML, CSS - 
										span.count-number(data-val-up="0" data-val-to="95" data-duration="3000") 95
										| %
									span.skills_line(data-width="95%")
										span.skills_placeholder
								li.skills_item
									span.skills_text Javascript(JQuery) - 
										span.count-number(data-val-up="0" data-val-to="85" data-duration="3000") 85
										| %
									span.skills_line(data-width="85%")
										span.skills_placeholder
								li.skills_item
									span.skills_text Jade(Pug) - 
										span.count-number(data-val-up="0" data-val-to="95" data-duration="3000") 95
										| %
									span.skills_line(data-width="95%")
										span.skills_placeholder
								li.skills_item
									span.skills_text Gulp - 
										span.count-number(data-val-up="0" data-val-to="95" data-duration="3000") 95
										| %
									span.skills_line(data-width="95%")
										span.skills_placeholder
						.skills_col
							ul.skills_list
								li.skills_item
									span.skills_text SCSS - 
										span.count-number(data-val-up="0" data-val-to="95" data-duration="3000") 95
										| %
									span.skills_line(data-width="95%")
										span.skills_placeholder
								li.skills_item
									span.skills_text PHP - 
										span.count-number(data-val-up="0" data-val-to="35" data-duration="3000") 35
										| %
									span.skills_line(data-width="35%")
										span.skills_placeholder
								li.skills_item
									span.skills_text Wordpress - 
										span.count-number(data-val-up="0" data-val-to="45" data-duration="3000") 45
										| %
									span.skills_line(data-width="45%")
										span.skills_placeholder
								li.skills_item
									span.skills_text Git - 
										span.count-number(data-val-up="0" data-val-to="85" data-duration="3000") 85
										| %
									span.skills_line(data-width="85%")
										span.skills_placeholder
					//	/head
			//	/skills

			.wrapper

				// testimonials
				.testimonials
					// head
					.head(data-aos="fade-up" data-aos-duration="1000")
						h2.head_title Отзывы
						.head_subtitle Что говорят обо мне заказчики
					//	/head

					.testimonials_slider

						.testimonials_slide
							.testimonials_text Иван сделал все, как договаривались, был на связи в обговоренное время, небольшие правки вносил без проблем, рекомендую!
							a(href="https://www.fl.ru/users/zakaz15/" target="_blank")
								img(data-lazy="img/testimonials/f_4e28c63ad65fa.png", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/zakaz15/" target="_blank") Дмитрий Медведев

						.testimonials_slide
							.testimonials_text Иван отлично справился, все сделал быстро и качественно, что приятно порадовало. Готов всем рекомендовать. Большое спасибо за сотрудничество.
							a(href="https://www.fl.ru/users/koelkirill/" target="_blank")
								img(data-lazy="img/testimonials/no_foto_b.png", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/koelkirill/" target="_blank") Кирилл Лебедев
						
						.testimonials_slide
							.testimonials_text Отличный верстальщик! Разумные цены. Сделал все достойно.
							a(href="https://www.fl.ru/users/atrian/" target="_blank")
								img(data-lazy="img/testimonials/no_foto_b.png", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/atrian/" target="_blank") Тимур Асташко

						.testimonials_slide
							.testimonials_text Спасибо за отличную и профессиональную работу! Задача выполнена в срок и с учетом всех пожеланий.
							a(href="https://www.fl.ru/users/borisov_85/" target="_blank")
								img(data-lazy="img/testimonials/f_4e428f81ce776.jpg", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/borisov_85/" target="_blank") Кирилл Борисов

						.testimonials_slide
							.testimonials_text Отличная работа! Все было сделано четко и в срок, Иван всегда был на связи и делал все необходимые правки, которых было совсем не много. Спасибо! Могу смело рекомендовать к сотрудничеству
							a(href="https://www.fl.ru/users/ironhand/" target="_blank")
								img(data-lazy="img/testimonials/no_foto_b.png", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/ironhand/" target="_blank") Сергей Tialas

						.testimonials_slide
							.testimonials_text Отличная работа, быстро и качественно. Спасибо. Рекомендую мастера, буду обращаться еще.
							a(href="https://www.fl.ru/users/bmvmx/" target="_blank")
								img(data-lazy="img/testimonials/no_foto_b.png", alt="").testimonials_avatar
							.testimonials_name
								a(href="https://www.fl.ru/users/bmvmx/" target="_blank") Max Balkovsky

					.testimonials_controlls

				//	/testimonials
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	script(src="js/libs/aos.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")