.about {
  margin-bottom: 100px;
  &:after {
    content: '';
    display: table;
    clear: both;
    width: 100%;
  }
  &_image {
    width: 350px;
    flex-shrink: 0;
  }
  &_img {
    float: left;
    max-width: 350px;
    margin-right: 30px;
    img {
      display: block;
    }
  }
  &_lists {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid $bd;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
  &_list {
    flex-grow: 1;
    li {
      margin-bottom: 20px;
    }
    span {
      color: #000;
    }
    a {
      color: $grayDark;
      border-bottom: 1px solid $grayDark;
      transition: 0.3s;
      &:hover {
        color: $blue;
        border-color: $blue;
      }
    }
  }
  &_descr {
    line-height: 2;
  }
  @media (max-width: $break_sm) {
    margin-bottom: 50px;
    &_img {
      float: none;
      max-width: none;
      width: 100%;
      margin-bottom: 50px;
    }
  }
}