.about {
  .wrapper {
    display: flex;
  }
  &_image {
    
  }
  &_img {
    
  }
  &_content {
    
  }
  &_desc {
    display: flex;
  }
  &_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    li {
      margin-bottom: 20px;
    }
    span {
      color: #000;
    }
  }
}