.header {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 50px;
  // background-color: rgba(0,0,0,.7);
  &--fixed {
    position: fixed;
    z-index: 10;
  }
  @media (max-width: $break_sm) {
    margin-bottom: 10px;
  }
}