.header {
  width: 100px;
  background-color: $blue;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  @media (max-width: $break_sm) {
    width: auto;
    bottom: auto;
    background-color: transparent;
  }
}