.menu {
	&_nav {
		width: 100px;
		display: flex;
		flex-direction: column;
		background-color: $blue;
		border-bottom: 1px solid #ccc;
	}
	&_list {
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		overflow: hidden;
	}
	li {
		border-bottom: 1px solid $blueHov;
	}
	a {
		display: flex;
		flex-direction: column;
		padding: 10px 0;
		text-decoration: none;
		color: #b5b0f7;
		transition: $trans;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: $blueHov;
			transition: $trans;
		}
		&:hover, &.active {
			color: #fff;
			&:before {
				width: 100%;
			}
		}
	}&_over {
		display: none;
	}
	&_icon {
		font-family: "Pe-icon-7-stroke";
		font-size: 30px;
		margin-bottom: 8px;
		z-index: 2;
	}
	&_text {
		z-index: 2;
	}
	@media (max-width: $break_sm) {
		position: relative;
		&_nav {
			z-index: 10;
			overflow-y: scroll;

		}
		&_list {
			font-size: 10px;
		}
		li {

		}
		a {
			
		}
		&_icon {
			font-size: 25px;
		}
		&_over {
			z-index: 9;
		}
		&_btn {
			width: 30px;
			height: 30px;
			z-index: 2;
			&.active {
				.menu_btn-inner {
					&:after, &:before {
						width: 100%;
					}
				}
			}
		}
		&_btn-inner {
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			&:after, &:before {
				content: '';
				display: block;
				height: 2px;
				background-color: #fff;
				position: absolute;
				left: 0;
				transition: $trans;
			}
			&:after {
				width: 80%;
				top: -8px;
			}
			&:before {
				width: 50%;
				bottom: -8px;
			}
		}
		&_close {
			width: 10px;
			height: 10px;
			background-color: green;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		&--left {
			&.open {
				.menu a {
				}
				.menu_nav {
					left: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				top: 0;
				bottom: 0;
				left: -500px;
				transition: .5s;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--right {
			&.open {
				.menu a {
				}
				.menu_nav {
					right: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				top: 0;
				bottom: 0;
				right: -1000px;
				transition: .5s;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--top {
			&.open {
				.menu a {
				}
				.menu_nav {
					top: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				height: 100%;
				position: fixed;
				top: -1000px;
				left: 0;
				transition: .5s;
			}
			.menu li {
				overflow: hidden;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--bottom {
			&.open {
				.menu a {
				}
				.menu_nav {
					bottom: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				bottom: -1000px;
				left: 0;
				bottom: 0;
				transition: .5s;
			}
			.menu li {
				overflow: hidden;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--drop {
			&.open {
				.menu_nav {
					max-height: 2000px;
					transition: 2s;
				}
			}
			.menu_nav {
				position: absolute;
				top: 100%;
				left: 0;
				max-height: 0;
				transition: .8s;
			}
		}
	}
	@media (min-width: $break_sm) {
		&_btn {
			display: none;
		}
		&_close {
			display: none;
		}
	}
}