.menu {
	
	&_nav {
		height: 100vh;
		background-color: $blue;
		overflow-y: auto;
	}
	&_nav-in {
		min-height: 100vh;
		padding-bottom: 100px;
		position: relative;
	}
	&_list {
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		overflow: hidden;
	}
	&_item {
		border-bottom: 1px solid $blueHov;
	}
	&_link {
		display: flex;
		flex-direction: column;
		padding: 23px 0;
		text-decoration: none;
		color: #b5b0f7;
		transition: $trans;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 0;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: $blueHov;
			transition: $trans;
		}
		&:hover, &.active {
			color: #fff;
			&:before {
				width: 100%;
			}
		}
	}&_over {
		display: none;
	}
	&_icon {
		font-family: "Pe-icon-7-stroke";
		font-size: 30px;
		margin-bottom: 8px;
		z-index: 2;
	}
	&_text {
		z-index: 2;
	}
	@media (max-width: $break_sm) {
		position: relative;
		&_nav {
			z-index: 10;
		}
		&_item {

		}
		&_link {
			
		}

		&_over {
			z-index: 9;
		}
		&_btn {
			width: 10px;
			height: 10px;
			background-color: green;
			z-index: 2;
		}
		&_close {
			width: 10px;
			height: 10px;
			background-color: green;
			position: absolute;
			top: 20px;
			right: 20px;
		}
		&--left {
			&.open {
				.menu_link {
				}
				.menu_nav {
					left: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				top: 0;
				bottom: 0;
				left: -1000px;
				transition: .5s;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--right {
			&.open {
				.menu_link {
				}
				.menu_nav {
					right: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				top: 0;
				bottom: 0;
				right: -1000px;
				transition: .5s;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--top {
			&.open {
				.menu_link {
				}
				.menu_nav {
					top: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				height: 100%;
				position: fixed;
				top: -1000px;
				left: 0;
				transition: .5s;
			}
			.menu_item {
				overflow: hidden;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--bottom {
			&.open {
				.menu_link {
				}
				.menu_nav {
					bottom: 0;
				}
				.menu_over {
					display: block;
				}
			}
			.menu_nav {
				position: fixed;
				bottom: -1000px;
				left: 0;
				bottom: 0;
				transition: .5s;
			}
			.menu_item {
				overflow: hidden;
			}
			.menu_over {
				position: fixed;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0,0,0,.5);
			}
		}
		&--drop {
			&.open {
				.menu_nav {
					max-height: 2000px;
					transition: 2s;
				}
			}
			.menu_nav {
				position: absolute;
				top: 100%;
				left: 0;
				max-height: 0;
				transition: .8s;
			}
		}
	}
	@media (min-width: $break_sm) {
		&_btn {
			display: none;
		}
		&_close {
			display: none;
		}
	}
}