.modal {
	display: none;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	&_body {
		width: 100%;
		max-width: 600px;
		max-height: 100%;
		padding: 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0, 0);
		opacity: 0;
		transition: .5s;
	}
	&_content {
		padding: 30px;
		position: relative;
		background-color: #fff;
		text-align: center;
	}
	&_close {
		width: 30px;
		height: 30px;
		border: 1px solid $grayDark;
		background-color: #fff;
		border-radius: 100%;
		position: absolute;
		top: -15px;
		right: -15px;
		cursor: pointer;
		user-select: none;
		box-shadow: 0 0 10px rgba(0,0,0,.3);
		&:after, &:before {
			content: '';
			display: block;
			width: 60%;
			height: 2px;
			background-color: $grayDark;
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&:after {
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&:before {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&.open {
		.modal_body {
			transform: translate(-50%,-50%) scale(1, 1);
			opacity: 1;
		}
	}
	&#success {
		.modal_content {
			border: 2px solid green;
		}
	}
	&#error {
		.modal_content {
			border: 2px solid red;
		}
	}
}